.timer {

    h3 {
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .3rem;
        text-indent: .3rem;
        cursor: pointer;
        padding-bottom: 8px;
        border-bottom: 1px transparent solid;
        transition: all .3s;
    }

    h3:hover {
        letter-spacing: .5rem;
        text-indent: .5rem;
        border-bottom: var(--border-medium-2);
        transform: scale(1.1) translateY(0);
    }

    h3:active {
        transform: scale(1) translateY(1px);
    }
}