
//reset
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//base
body {
    font-size: 62.5%;
    color: var(--color-font);
    font-family: 'Lato', sans-serif;

    
}